# designs/sram_64kb_1rw1r_ecc/pon_order.cfg

# Format: PIN_NAME LAYER SIDE ORDER OFFSET
# We have many pins (Addr[15:0] x2, Data[31:0] x2, Clk, Rst, En, WE, VDD/VSS)

# Clock / Reset (Center-ish or Side)
clk     met4 N 0 0
rst_n   met4 N 1 0

# Port A (Instruction) - North Side
i_en_a      met3 N 2 0
i_addr_a[0] met3 N 3 0
... (list all 16 addr bits sequentially) ...
i_addr_a[15] met3 N 18 0
o_rdata_a[0] met3 S 0 0  ;# Outputs on South
... (list all 32 data bits) ...
o_rdata_a[31] met3 S 31 0
o_ecc_err_a  met3 S 32 0

# Port B (Data) - East Side
i_en_b      met3 E 0 0
i_we_b      met3 E 1 0
i_addr_b[0] met3 E 2 0
... (16 addr bits) ...
i_addr_b[15] met3 E 17 0
i_wdata_b[0] met3 E 18 0
... (32 data bits) ...
i_wdata_b[31] met3 E 49 0
o_rdata_b[0] met3 W 0 0  ;# Outputs West
... (32 data bits) ...
o_rdata_b[31] met3 W 31 0
o_ecc_err_b  met3 W 32 0

# Power / Ground (Auto handled by PDN usually, but list for macro rings)
vdd met5 N 0 0
vss met5 N 1 0
